@font-face {
  font-family: Bebas;
  src: url(BebasNeue-Regular.otf);
}
@font-face {
  font-family: Krona;
  src: url(KronaOne-Regular.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(Poppins-Medium.otf);
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #efe1d1;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.portfolio-heading {
  color: black;
  padding: 20px 20px;
  font-weight: 200;
  font-family: "Krona", sans-serif;
  text-decoration: none;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.btns a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btns a ion-icon {
  font-size: 38px;
  color: black;
}

h1 {
  font-size: "Bebas", sans-serif;
}
#myworks {
  align-items: column;
  padding: 20px;
  margin-top: 10px;
  height: 100vh;
}

#myworks h2 {
  font-size: 6vh;
  font-family: "Bebas", sans-serif;
  color: #3f2e3e;
}

#myworks p {
  font-size: 3vh;
  font-family: "Poppins", sans-serif;
  color: #331d2c;
}
#myworks img,
#myworks video {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 50%;
  margin-bottom: 20px;
}

.buttons1 {
  display: inline-block;
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  margin: 0 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.buttons1 ion-icon {
  font-size: 38px;
  color: black;
}
.buttons1 a {
  padding-right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
