@font-face {
  font-family: Bebas;
  src: url(BebasNeue-Regular.otf);
}
@font-face {
  font-family: Krona;
  src: url(KronaOne-Regular.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(Poppins-Medium.otf);
}
.intro {
  display: none;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
* {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #efe1d1;
}
.navbar {
  color: white;
  padding-top: 5px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  opacity: 0;
  animation: fadeInNavbar 1s ease-in-out forwards;
}
.menu-toggle {
  display: none;
}

.hamburger {
  width: 30px;
  height: 4px;
  background-color: black;
  margin: 6px 0;
}

@keyframes fadeInNavbar {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.line {
  border-top: 4px solid black;
  margin: 0 auto;
  width: 50%;
  box-shadow: 9px 5px 7px rgba(0, 0, 0, 0.5);
  opacity: 0;
  animation: fadeInNavbar 1s ease-in-out forwards;
}

@keyframes fadeInLine {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.navbar a {
  color: black;
  padding: 14px 20px;
  font-weight: 200;
  font-family: "Krona", sans-serif;
  text-decoration: none;
  display: inline-block;
}
.homesection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 78vh;
  padding: 20px;
  width: 100%;
}

.imagecontainer {
  height: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 40%;
  padding-top: 20px;
}

.img-sec-anim {
  width: 390px;
  position: relative;
}

.img-sec-anim img {
  width: 400px;
  position: absolute;
  top: 0;
  left: -5px;
  filter: drop-shadow(9px 5px 7px rgba(0, 0, 0, 0.9));
  animation: rotateImage 10s linear infinite;
}

@keyframes rotateImage {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.me {
  background-color: #a78295;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 350px;
  height: 350px;
  padding: 20px;
  border-radius: 50%;
  margin-top: 27.5px;
}

.me img {
  width: 300px;
  border-radius: 50%;
}

.small-images {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.small-images img {
  width: 50px;
  height: auto;
  margin: 0 10px;
  filter: drop-shadow(9px 5px 7px rgba(0, 0, 0, 0.3));
}

.small-images img[src="tiktok.png"] {
  width: 53px;
  height: auto;
  margin: 0 10px;
  filter: drop-shadow(9px 5px 7px rgba(0, 0, 0, 0.3));
}
.textcontainer h1 {
  color: #331d2c00;
  font-size: 5vw;
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke: 0.2vw #3f2e3e;
  font-weight: 200;
  font-family: "Bebas", sans-serif;
  letter-spacing: 4px;
  margin-bottom: 10px;
}

.textcontainer .subtitle {
  color: #a78295;
  font-size: 4vw;
  margin-top: -0.8cm;
  font-weight: 200;
  font-family: "Bebas", sans-serif;
  letter-spacing: 10px;
}

.textcontainer .desc {
  color: #331d2c;
  font-size: 4vw;
  margin-top: -0.5cm;
  font-weight: 200;
  font-family: "Bebas", sans-serif;
}
.textcontainer {
  height: 90%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-top: 30px;
}

.textcontainer .special {
  color: #331d2c;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  padding-top: 0px;
  text-align: justify;
  padding-right: 1cm;
}

@media only screen and (max-width: 700px) {
  .navbar {
    color: white;
    padding: 0 0;
    padding-top: 0;
    padding-left: 0;
    padding-right: 25px;
    display: flex;
    justify-content: end;
    opacity: 0;
    animation: fadeInNavbar 1s ease-in-out forwards;
    position: fixed;
    z-index: 11;
  }
  .navbar .menu-toggle {
    display: block;
    order: 1;
    margin-top: 20px;
  }
  .line {
    display: none;
  }
  .navbar .menu {
    position: fixed;
    top: 70px;
    right: 0;
    display: none;
    flex-direction: column;
    z-index: 13;
    height: 100%;
  }

  .homesection {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: max-content;
    padding: 20px;
    width: 100%;
  }

  .imagecontainer {
    padding-top: 20px;
    height: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0;
  }

  .img-sec-anim {
    width: 390px;
    position: relative;
    filter: drop-shadow(9px 5px 7px rgba(0, 0, 0, 0.9));
  }

  .img-sec-anim img {
    width: 300px;
    position: absolute;
    top: 0;
    left: 45px;
    filter: drop-shadow(9px 5px 7px rgba(0, 0, 0, 0.9));
    animation: rotateImage 10s linear infinite;
    z-index: 3;
  }

  @keyframes rotateImage {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .me {
    background-color: #a78295;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 250px;
    height: 250px;
    padding: 20px;
    border-radius: 50%;
    margin-top: 27.5px;
  }

  .me img {
    width: 200px;
    border-radius: 50%;
  }

  .small-images {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }

  .small-images img {
    width: 50px;
    height: auto;
    margin: 0 10px;
    filter: drop-shadow(9px 5px 7px rgba(0, 0, 0, 0.3));
  }

  .small-images img[src="tiktok.png"] {
    width: 53px;
    object-fit: cover;
    height: auto;
    margin: 0 10px;
    filter: drop-shadow(9px 5px 7px rgba(0, 0, 0, 0.3));
  }
  .textcontainer {
    /* height: 35vh; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .textcontainer .special {
    color: #331d2c;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    text-align: justify;
    width: 100%;
    height: 15%;
    padding-right: 0;
  }
  .textcontainer h1 {
    color: #331d2c00;
    font-size: 6vw;
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke: 0.2vw #3f2e3e;
    font-weight: 200;
    font-family: "Bebas", sans-serif;
    letter-spacing: 4px;
    width: 100%;
    height: -40%;
  }

  .textcontainer .subtitle {
    color: #a78295;
    font-size: 6vw;
    height: -6vh;
    width: 100%;
    font-weight: 200;
    font-family: "Bebas", sans-serif;
    letter-spacing: 10px;
  }

  .textcontainer .desc {
    color: #331d2c;
    font-size: 8vw;
    width: 100%;
    height: 50%;
    font-weight: 200;
    font-family: "Bebas", sans-serif;
  }
}

@media only screen and (max-width: 500px) {
  .navbar {
    color: white;
    padding: 0 0;
    padding-top: 0;
    padding-left: 0;
    padding-right: 25px;
    display: flex;
    justify-content: end;
    opacity: 0;
    animation: fadeInNavbar 1s ease-in-out forwards;
    position: fixed;
    z-index: 11;
  }
  .navbar .menu-toggle {
    display: block;
    order: 1;
    margin-top: 20px;
  }
  .line {
    display: none;
  }
  .navbar .menu {
    position: fixed;
    top: 70px;
    right: 0;
    display: none;
    flex-direction: column;
    z-index: 13;
    height: 100%;
  }

  .homesection {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: max-content;
    padding: 20px;
    width: 100%;
  }

  .imagecontainer {
    padding-top: 20px;
    height: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0;
  }

  .img-sec-anim {
    width: 160px;
    position: relative;
    filter: drop-shadow(9px 5px 7px rgba(0, 0, 0, 0.9));
  }

  .img-sec-anim img {
    width: 180px;
    position: absolute;
    top: 12px;
    left: -10px;
    filter: drop-shadow(9px 5px 7px rgba(0, 0, 0, 0.9));
    animation: rotateImage 10s linear infinite;
    z-index: 3;
  }

  @keyframes rotateImage {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .me {
    background-color: #a78295;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    padding: 15px;
    border-radius: 50%;
    margin-top: 27.5px;
  }

  .me img {
    width: 120px;
    border-radius: 50%;
  }

  .small-images {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }

  .small-images img {
    width: 30px;
    height: auto;
    margin: 0 10px;
    filter: drop-shadow(9px 5px 7px rgba(0, 0, 0, 0.3));
  }

  .small-images img[src="tiktok.png"] {
    width: 32px;
    object-fit: cover;
    height: auto;
    margin: 0 10px;
    filter: drop-shadow(9px 5px 7px rgba(0, 0, 0, 0.3));
  }
  .textcontainer {
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-top: 0;
    margin: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .textcontainer .special {
    margin-top: 0;
    color: #331d2c;
    font-family: "Poppins", sans-serif;
    font-size: 11px !important;
    text-align: justify;
    width: 100%;
    height: 15%;
    padding-top: 0px;
  }
  .textcontainer h1 {
    margin-top: 0;
    margin: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: #331d2c00;
    font-size: 28px;
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke: 0.2vw #3f2e3e;
    font-weight: 200;
    font-family: "Bebas", sans-serif;
    letter-spacing: 4px;
    width: 100%;
    height: 10vh;
  }

  .textcontainer .subtitle {
    color: #a78295;
    font-size: 24px;
    height: 5vh;
    width: 100%;
    font-weight: 200;
    font-family: "Bebas", sans-serif;
    letter-spacing: 10px;
  }

  .textcontainer .desc {
    margin-top: 0;
    margin: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    color: #331d2c;
    font-size: 16px;
    width: 100%;
    height: max-content;
    font-weight: 200;
    font-family: "Bebas", sans-serif;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
