@font-face {
  font-family: Bebas;
  src: url(BebasNeue-Regular.otf);
}
@font-face {
  font-family: Krona;
  src: url(KronaOne-Regular.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(Poppins-Medium.otf);
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #efe1d1;
  margin: 0;
  padding: 0;
}
section {
  padding: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.serv {
  color: black;
  font-family: "Krona", sans-serif;
  align-items: center;
  justify-content: center;
  display: flex;
}

.services-heading {
  color: white;
  padding-top: 5px;
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.menu a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu a ion-icon {
  font-size: 38px;
  color: black;
}

p {
  font-size: 3vh;
  font-family: "Poppins", sans-serif;
  color: #331d2c;
  margin-bottom: 20px;
}

.ui,
.video {
  margin-bottom: 30px;
}
