@font-face {
  font-family: Bebas;
  src: url(BebasNeue-Regular.otf);
}
@font-face {
  font-family: Krona;
  src: url(KronaOne-Regular.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(Poppins-Medium.otf);
}

.intro {
  display: none;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #efe1d1;
}
.abtm {
  color: black;
  font-family: "Krona", sans-serif;
}
.aboutme {
  color: black;
  padding: 20px 20px;
  font-weight: 200;
  font-family: "Krona", sans-serif;
  text-decoration: none;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.menu a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu a ion-icon {
  font-size: 38px;
  color: black;
}

.homecontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  height: 70%;
  width: 100%;
}
.imge {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 60px;
  width: 350px;
  height: 350px;
  padding: 20px;
  margin-top: 27.5px;
}
.imgme img {
  width: 300px;
  height: 300px;
  border-radius: 15%;
}
.textcontainer {
  width: 50%;
  margin-top: 10px;
  padding-left: -10px;
  padding-top: 10px;
  margin-left: -60px;
}
.textcontainer * {
  margin: 5px 0;
}

.name {
  font-family: "Bebas", sans-serif;
  font-size: 30px;
}
.address {
  font-family: "Bebas", sans-serif;
  font-size: 30px;
}
.bday {
  font-family: "Bebas", sans-serif;
  font-size: 30px;
}
.likes {
  font-family: "Bebas", sans-serif;
  font-size: 30px;
}

.tools {
  height: 340px;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.tool-heading {
  font-family: "Bebas", sans-serif;
  width: 100%;
  height: 10%;
  font-size: 35px;
}

.container {
  width: 100%;
  height: 90%;
  display: flex;
  gap: 20px;
  padding-top: 30px;
}

.icon-container {
  width: 120px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.icon-container .h3 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  width: 100%;
}

.icon-container img {
  width: 70%;
  height: 70%;
  object-fit: cover;
  border-radius: 50%;
}

@media only screen and (max-width: 500px) {
  .homecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .imge {
    width: 100%;
    margin-bottom: 20px;
  }

  .textcontainer {
    width: 100%;
    margin-bottom: 20px;
  }

  .tools {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .homecontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    height: 70%;
    width: 100%;
  }

  .imge {
    width: 50%;
    margin: 0 60px;
    padding: 20px;
    margin-top: 27.5px;
  }

  .textcontainer {
    width: 50%;
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 10px;
  }
  .tool-heading {
    font-family: "Bebas", sans-serif;
    width: 100%;
    height: 10%;
    font-size: 35px;
    text-align: center;
  }
}
